@charset "UTF-8";
:root{
--base-font-size:16px;
--wrapper-width-small:500px;
--wrapper-width-medium:800px;
--wrapper-width-large:1140px;
--gutter-width:1.25rem;
--aside-width:15.875rem;
--article-width:50.625rem;
--line-length-minimum:336px;
--line-length-maximum:480px;
--line-length-responsive:calc(336px + 144 * ((100vw - 500px) / 640));
--measure-small:0.625rem;
--measure-small-relative:0.625em;
--measure-small-proportional:2vmin;
--measure-medium:1.25rem;
--measure-medium-relative:1.25em;
--measure-medium-proportional:4vmin;
--measure-large:2.25rem;
--measure-large-relative:2.25em;
--measure-large-proportional:8vmin;
--measure-one:1rem;
--measure-one-relative:1em;
--opacity-alpha:0.9;
--opacity-beta:0.7;
--opacity-gamma:0.1;
--opacity-delta:0.05;
--color-transparent:transparent;
--color-black:#060606;
--color-mineshaft:#2b2b2b;
--color-kaiser:#4f4f4f;
--color-dove:#737373;
--color-alto:#ddd;
--color-white:#f9f9f9;
--color-raven:#5f8aa6;
--color-bowhead:#507791;
--color-coyote:#759ab3;
--color-canada:#eb2d37;
--color-highlight:gold;
--color-black--alpha:rgba(6,6,6,.9);
--color-black--gamma:rgba(6,6,6,.1);
--color-black--delta:rgba(6,6,6,.05);
--color-raven--gamma:rgba(95,138,166,.1);
--border-width-default:0.25rem;
--border-width-thin:0.125rem;
--border-width-hairline:1px;
--border-width-button:0.182em;
--border-style-default:solid;
--border-style-alternate:dotted;
--border-radius-default:0.375rem;
--border-radius-thin:0.25rem;
--border-radius-hairline:0.125rem;
--button-border-width:0.182em;
--font-display:fallback;
--font-weight-default:400;
--font-weight-bold:600;
--font-size-default:1rem;
--font-size-alpha:4.5rem;
--font-size-beta:1.375rem;
--font-size-gamma:1.125rem;
--font-size-large:1.25rem;
--font-size-large-relative:1.25em;
--font-size-small:0.875rem;
--font-size-small-relative:0.875em;
--font-family-default:"Proxima Nova",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
--font-family-alpha:"League Gothic",Impact,sans-serif;
--font-family-serif:Georgia,serif;
--font-family-monospace:"Menlo for Powerline","Menlo",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
--line-height-default:1.875;
--line-height-small:1.25;
--line-height-medium:1.429;
--line-height-code:2;
--letter-spacing-default:0;
--letter-spacing-uppercase:1px;
--animation-duration:2s;
--animation-function:linear;
--animation-fill-mode:forwards;
--rotation-default:5deg;
--transition-duration-default:0.2s;
--transition-duration-long:1s;
--transition-function:ease;
--z-index-below:-1;
--z-index-root:0;
--z-index-default:1;
--z-index-above:2;
--z-index-modal:3;
--z-index-dialog:4;
--z-index-notification:5;
--color-css:#016fba;
--color-html:#e54d26;
--color-javascript:#f1c54c;
--color-liquid:#7ab55c;
--color-markdown:#4a525a;
--color-sass:#c6538c;
--color-codepen:#212121;
--color-github:#333;
--color-lastfm:#e31b23;
--color-rss:#ff9770;
--color-spotify:#1db954;
--color-spotify-alt:#191414;
--color-twitter:#4d9bd7;
--icon-size:40px;
--logo-size:8.5rem;
--avatar-size:6.25rem;
--max-columns:2}
@font-face{
font-family:League Gothic;
font-style:normal;
font-weight:400;
font-display:fallback;
src:local("League Gothic Regular"),url(https://chrisburnell.com/fonts/league-gothic-regular.woff2) format("woff2"),url(https://chrisburnell.com/fonts/league-gothic-regular.woff) format("woff"),url(https://chrisburnell.com/fonts/league-gothic-regular.ttf) format("truetype");
unicode-range:u+00??,u+0131,u+0152-0153,u+02c6,u+02da,u+02dc,u+2000-206f,u+2074,u+20ac,u+2212,u+2215,u+e0ff,u+effd,u+f000}
@font-face{
font-family:Proxima Nova;
font-style:normal;
font-weight:400;
font-display:fallback;
src:local("Proxima Nova Regular"),url(https://chrisburnell.com/fonts/proxima-nova-regular.woff2) format("woff2"),url(https://chrisburnell.com/fonts/proxima-nova-regular.woff) format("woff"),url(https://chrisburnell.com/fonts/proxima-nova-regular.ttf) format("truetype");
unicode-range:u+00??,u+0131,u+0152-0153,u+02c6,u+02da,u+02dc,u+2000-206f,u+2074,u+20ac,u+2212,u+2215,u+e0ff,u+effd,u+f000}
@font-face{
font-family:Proxima Nova;
font-style:italic;
font-weight:400;
font-display:fallback;
src:local("Proxima Nova Italic"),url(https://chrisburnell.com/fonts/proxima-nova-italic.woff2) format("woff2"),url(https://chrisburnell.com/fonts/proxima-nova-italic.woff) format("woff"),url(https://chrisburnell.com/fonts/proxima-nova-italic.ttf) format("truetype");
unicode-range:u+00??,u+0131,u+0152-0153,u+02c6,u+02da,u+02dc,u+2000-206f,u+2074,u+20ac,u+2212,u+2215,u+e0ff,u+effd,u+f000}
@font-face{
font-family:Proxima Nova;
font-style:normal;
font-weight:600;
font-display:fallback;
src:local("Proxima Nova Semibold"),url(https://chrisburnell.com/fonts/proxima-nova-semibold.woff2) format("woff2"),url(https://chrisburnell.com/fonts/proxima-nova-semibold.woff) format("woff"),url(https://chrisburnell.com/fonts/proxima-nova-semibold.ttf) format("truetype");
unicode-range:u+00??,u+0131,u+0152-0153,u+02c6,u+02da,u+02dc,u+2000-206f,u+2074,u+20ac,u+2212,u+2215,u+e0ff,u+effd,u+f000}


h1{
color: var(--color-kaiser);
text-transform:uppercase;
letter-spacing:1px;
font-family:League Gothic,Impact,sans-serif;
font-family:var(--font-family-alpha);
font-size:4.5rem;
font-size:var(--font-size-alpha);
line-height:1;
text-shadow:.25rem .25rem 0 rgba(6,6,6,.05);
text-shadow:var(--border-width-default) var(--border-width-default) 0 var(--color-black--delta)
}

footer{
width:100%;
padding:2.25rem ;
padding:var(--measure-large) 0;
border-top-width:.25rem;
border-top-width:var(--border-width-default);
border-top-style:solid;
border-top-style:var(--border-style-default);
border-top-color:#5f8aa6;
border-top-color:var(--color-raven);
background-color:#4f4f4f;
background-color:var(--color-kaiser);
color:#ddd;
color:var(--color-alto);
font-weight:600;
font-weight:var(--font-weight-bold);
text-transform:uppercase;

}


.social{
width:100%;
display:flex;
flex-wrap:wrap;
margin:0 0 1.25rem;
margin:0 0 var(--measure-medium);

}

.social button img{
	display: none;
}

.social button{
margin-left: 5px;
background-clip:padding-box;
border-radius:.25rem;
text-transform:uppercase;
letter-spacing:1px;
font-family:League Gothic,Impact,sans-serif;
font-family:var(--font-family-alpha);
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
-webkit-touch-callout:default;
-webkit-touch-callout:none;
transition:background-color .2s ease 0s;
will-change:background-color,height,padding-bottom,margin-bottom,box-shadow,transform;
background-color:#507791;
background-color:var(--color-bowhead);
color:#f9f9f9;
color:var(--color-white);
min-width:8em;
height:2.182em;
display:inline-block;
padding:0 .728em .182em;
border-width:0;
margin-top:.25rem;
margin-top:var(--border-width-default);
box-shadow:inset 0 -.182em 0 0 rgba(6,6,6,.1);
box-shadow:inset 0 -.182em 0 0 var(--color-black--gamma);
overflow:visible;
position:relative;
font-size:1.375rem;
font-size:var(--font-size-beta);
line-height:2;
line-height:var(--line-height-code);
text-align:center;
text-decoration:none;
text-shadow:0 1px 1px rgba(6,6,6,.1);
white-space:nowrap;
cursor:pointer;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
}

.social button a{
	text-decoration: none;
	color: white;
}

button:active,button:focus,button:hover{
background-color:#5f8aa6;
background-color:var(--color-raven);
text-decoration:none}

.col1{
	display: none;
}

.col2 img{
	width: 100%;
	text-align: center;
}

mark{
	background-color: yellow;
	border-radius: 3px;
}

.lineal{

display:flex;
align-items:center;
padding-top:1.25rem;
padding-top:var(--measure-medium);
padding-bottom:1.25rem;
padding-bottom:var(--measure-medium);
white-space:nowrap;
}





.gadgets th{
	font-family: Proxima Nova,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	background-color: var(--color-alto);
}
.gadgets tr ul{
		list-style: none;
}

img{
	border-radius: 5px;
}


h2{
text-transform:uppercase;
letter-spacing:1px;
margin-top:2.25rem;
margin-top:var(--measure-large);
margin-bottom: 0;
border-bottom-width:.125rem;
border-bottom-width:var(--border-width-thin);
border-bottom-style:solid;
border-bottom-style:var(--border-style-default);
border-bottom-color:#ddd;
border-bottom-color:var(--color-alto);
font-weight:600;
font-weight:var(--font-weight-bold);
}

.top{
border-bottom-width:.25rem;
border-bottom-width:var(--border-width-default);
border-bottom-style:solid;
border-bottom-style:var(--border-style-default);
border-bottom-color:#507791;
border-bottom-color:var(--color-bowhead);
width:auto;
max-width:var(--wrapper-width-large);
padding-left:1.25rem;
padding-left:var(--gutter-width);
padding-right:1.25rem;
padding-right:var(--gutter-width);
margin-left:10%;
margin-right:10%;
max-width:100%;
}

.top img{
height:6.25rem;
flex:1 0 15.875rem;
flex:1 0 var(--aside-width);
display:inline-block;
position:relative;
text-decoration:none;
border-radius: 0;
}


html{
font-family:Proxima Nova,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
font-family:var(--font-family-default);
line-height: var(--line-height-default:1.875);
line-height: 1.875;
}
body{
background-color:#f9f9f9;
background-color:var(--color-white);
color:#4f4f4f;
color:var(--color-kaiser);
width:100%;
margin:0;

}


.contenido{
	padding: 0 10%;
}

.contenido p a:focus, .contenido p a:hover{
text-decoration:underline;
-webkit-text-decoration-color:#eb2d37;
text-decoration-color:#eb2d37;
-webkit-text-decoration-color:var(--color-canada);
text-decoration-color:var(--color-canada);}
.contenido p a{
color:var(--color-raven);
}

article ul a,ol a{
	color:var(--color-raven);
}

.ref ol{
	list-style: all;
}
.ref li a:hover{
	text-decoration:underline;
	color:var(--color-raven);
	-webkit-text-decoration-color:#eb2d37;
text-decoration-color:#eb2d37;
-webkit-text-decoration-color:var(--color-canada);
text-decoration-color:var(--color-canada);
}


#text-h1{
	font-weight: bolder;
	font-family: "Proxima Nova",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-size: 1.2em;
	color:var(color-mineshaft);
}

#text-head{
	display: none;
}


/*borrar luego*/




@media screen and (min-width:1141px){
p.columns{
-webkit-column-count:2;
column-count:2;
-webkit-column-gap:1.25rem;
column-gap:1.25rem}
}

.default-list,dl:not([class]),ol:not([class]),ul:not([class]){
margin-bottom:1.25rem;
margin-bottom:var(--measure-medium)}
.default-list+.default-list,.default-list+dl:not([class]),.default-list+ol:not([class]),.default-list+ul:not([class]),.default-list .default-list,.default-list dl:not([class]),.default-list ol:not([class]),.default-list ul:not([class]),dl:not([class])+.default-list,dl:not([class])+dl:not([class]),dl:not([class])+ol:not([class]),dl:not([class])+ul:not([class]),dl:not([class]) .default-list,dl:not([class]) dl:not([class]),dl:not([class]) ol:not([class]),dl:not([class]) ul:not([class]),ol:not([class])+.default-list,ol:not([class])+dl:not([class]),ol:not([class])+ol:not([class]),ol:not([class])+ul:not([class]),ol:not([class]) .default-list,ol:not([class]) dl:not([class]),ol:not([class]) ol:not([class]),ol:not([class]) ul:not([class]),ul:not([class])+.default-list,ul:not([class])+dl:not([class]),ul:not([class])+ol:not([class]),ul:not([class])+ul:not([class]),ul:not([class]) .default-list,ul:not([class]) dl:not([class]),ul:not([class]) ol:not([class]),ul:not([class]) ul:not([class]){
margin-top:1.25rem;
margin-top:var(--measure-medium)}
.default-list li,ol:not([class]) li,ul:not([class]) li{
padding-left:2.25rem;
padding-left:var(--measure-large);
position:relative}
.default-list li:not(:last-child),ol:not([class]) li:not(:last-child),ul:not([class]) li:not(:last-child){
margin-bottom:.625rem;
margin-bottom:var(--measure-small)}
.default-list li:before,ol:not([class]) li:before,ul:not([class]) li:before{
position:absolute;
top:0;
left:0;
font-weight:600;
font-weight:var(--font-weight-bold)}
ol.default-list,ol:not([class]){
counter-reset:a}
ol.default-list>li,ol:not([class])>li{
counter-increment:a}
ol.default-list>li:before,ol:not([class])>li:before{
font-variant-numeric:lining-nums tabular-nums;
-webkit-font-feature-settings:"lnum","tnum";
font-feature-settings:"lnum","tnum";
content:counter(a,decimal) "."}
ol.default-list[reversed],ol:not([class])[reversed]{
display:flex;
flex-direction:column-reverse}
ul.default-list li:before,ul:not([class]) li:before{
content:"•";
font-size:1.5rem;
line-height:1}
dl{
overflow:hidden}
dt{
width:auto;
min-width:10rem;
clear:left;
padding-right:1.25rem;
padding-right:var(--measure-medium);
font-weight:600;
font-weight:var(--font-weight-bold)}

a,button,input,label,select,summary,textarea{
touch-action:manipulation}
::-moz-selection{
background-color:#5f8aa6;
background-color:var(--color-raven);
color:#f9f9f9;
color:var(--color-white)}
::selection{
background-color:#5f8aa6;
background-color:var(--color-raven);
color:#f9f9f9;
color:var(--color-white)}
.canada::-moz-selection{
background-color:#eb2d37;
background-color:var(--color-canada)}
.canada::selection{
background-color:#eb2d37;
background-color:var(--color-canada)}
.wrap{
width:auto;
max-width:1140px;
max-width:var(--wrapper-width-large);
padding-left:1.25rem;
padding-left:var(--gutter-width);
padding-right:1.25rem;
padding-right:var(--gutter-width);
margin-left:auto;
margin-right:auto}
.wrap--full-width{
max-width:100%;}
.clear{
clear:both;
zoom:1}
.clear:after,.clear:before{
content:"";
display:table}
.clear:after{
clear:both}
main{
display:block;
padding-bottom:2.25rem;
padding-bottom:var(--measure-large)}
header{
display:flex;
overflow:hidden;
position:relative}
@supports (display:grid){
header{
display:grid}
}
@media screen and (max-width:800px){
header{
flex-direction:column;
justify-content:center}
@supports (display:grid){
header{
grid-template-rows:7rem -webkit-min-content;
grid-template-rows:7rem min-content}
}
}
@media screen and (min-width:801px){
header{
justify-content:space-between}
@supports (display:grid){
header{
grid-template-columns:15.875rem -webkit-min-content;
grid-template-columns:15.875rem min-content}
}
}



/*mandanguita*/



@media screen and (max-width:800px){
.nav-primary{
flex:1 0 100%;
padding-top:.625rem;
padding-top:var(--measure-small);
text-align:center}
}
.lineal{
font-size:0}
.lineal li{
font-size:1rem;
font-size:var(--font-size-default);
display:inline-block}
@media screen and (max-width:500px){
.lineal li+li{
margin-left:.25em}
}
@media screen and (min-width:501px) and (max-width:800px){
.lineal li+li{
margin-left:.5em}
}
@media screen and (min-width:801px){
.lineal li+li{
margin-left:1em;
margin-left:var(--measure-one-relative)}
}
.lineal a{
transition:color .2s ease 0s,padding-bottom .2s ease 0s,border-bottom-width .2s ease 0s,-webkit-transform .2s ease 0s;
transition:color .2s ease 0s,padding-bottom .2s ease 0s,border-bottom-width .2s ease 0s,transform .2s ease 0s;
transition:color .2s ease 0s,padding-bottom .2s ease 0s,border-bottom-width .2s ease 0s,transform .2s ease 0s,-webkit-transform .2s ease 0s;
will-change:color,padding-bottom,border-bottom-width,transform;
color:#737373;
color:var(--color-dove);
display:block;
padding:.75rem 1rem;
border-style:solid;
border-color:#5f8aa6;
border:0 var(--border-style-default) var(--color-raven);
margin-bottom:.25rem;
margin-bottom:var(--border-width-default);
font-weight:600;
font-weight:var(--font-weight-bold);
line-height:1.25;
line-height:var(--line-height-small);
text-decoration:none}
.lineal a:active{
background-color:transparent;
background-color:var(--color-transparent);
-webkit-transform:translateY(.2rem);
transform:translateY(.2rem)}
@media screen and (max-width:500px){
.lineal a{
padding-left:.5rem;
padding-right:.5rem}
}
.lineal a:active,.lineal a:focus,.lineal a:hover,[class*=page--about] [class*=nav-primary--about] a,[class*=page--article] [class*=nav-primary--article] a,[class*=page--note] [class*=nav-primary--note] a,[class*=page--search] [class*=nav-primary--search] a{
color:#4f4f4f;
color:var(--color-kaiser);
padding-bottom:.5rem;
border-bottom-width:.25rem;
border-bottom-width:var(--border-width-default)}
}



/*# sourceMappingURL=main.min.css.map */
